<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/x-icon" href="/images/home/logo.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/sign_up_sign_in.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  <link rel="stylesheet" href="/stylesheets/cart.css" />
</head>

<body>
  <!-- navbar  -->
  <nav class="navBar px-[5%]">
    <div class="flex items-center justify-between my-4">
      <div class="relative cursor-pointer bg-transparent z-10 text-white">
        <div
          class="relative flex flex-col justify-center z-10 pb-1 pr-3 font-noto font-semibold text-2xl border-b-4 border-r-4 rounded-xl">
          <h1>Anime</h1>
          <h1 class="text-secondary">. Aura</h1>
        </div>

        <div class="blob absolute top-0 left-0">
          <div
            class="absolute blur-xl top-0 -left-10 w-12 h-12 mix-blend-multiply bg-teal-500 opacity-80 rounded-full animate-blob delay-0">
          </div>
          <div
            class="absolute blur-xl top-0 left-20 w-12 h-12 mix-blend-multiply bg-gray-200 opacity-80 rounded-full animate-blob delay-5000">
          </div>
          <div
            class="absolute blur-xl top-10 left-5 w-12 h-12 mix-blend-multiply bg-secondary opacity-90 rounded-full animate-blob delay-2000">
          </div>
        </div>
      </div>

      <div class="navLink text-dimWhite">
        <div class="link">
          <a class="" href="/">Home</a>
          <a class="" href="/about">About</a>
          <a class="" href="/profile">
            <ion-icon name="person-outline" />
          </a>
          <a class="active" href="/product/cart">
            <ion-icon name="bag-outline" />
          </a>
        </div>
      </div>
    </div>
  </nav>

  <main class="px-[5%] mt-24 font-comfortaa text-white max-w-[1700px]">
      <section class="poppins-medium flex flex-col space-y-4 w-full lg:w-6/12 bg-zinc-900 p-6 md:p-10 rounded-xl">
          
          
          <div>
              <h1 class="text-5xl text-emerald-300 mt-4 mb-1">Your Order Placed Successfully</h1>
              <hr class="w-[100%] mb-4" />
              
            </div>
        </section>
        <div class="w-56 py-3 px-3 flex items-center justify-around hover:scale-95 ease-linear bg-gradient-to-tr from-lime-300 to-indigo-400 rounded-md cursor-pointer">
            
            
            <button class="text-gray-800 text-2xl font-semibold">
                <a href="/profile">See Order History</a>
            </button>
            
        </div>
    </main>
            
      <script>
      <% if (flash.success && flash.success.length > 0) {%>
          new Noty({
            theme: 'sunset',
            text: '<h3><%= flash.success%></h3>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
          }).show();
              <% } %>

              <% if (flash.error && flash.error.length > 0) {%>
          new Noty({
            theme: 'sunset',
            text: '<%= flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
          }).show();
              <% } %>
      </script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>